body {
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

.container {
  width: 500px;
}

#news img {
  max-width: 50px;
  float: right;
}



/* li{
    font-size: 10px;
    border-bottom: 1px solid #ddd;
}

li.url {
  height: 5px;
} */
